# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Pretrained Deep Learning Weights (>100MB)
# Run `python scripts/download_models.py` to retrieve them
*.weights
*.dat
models/yolo-coco/*.weights
shape_predictor_68_face_landmarks.dat

# SQLite and databases
*.db
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
